---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<head>
    <title>{pageTitle}</title>
</head>

<BaseLayout>
    <div class="container h-64 w-auto md:mx-auto">
        <img src="/chicago_flag.jpeg" alt="Chicago Flag" />
    </div>

    <div class="container flex justify-center">
        <h2 class="uppercase font-semibold text-2xl text-chicagoRed">
            About this blog
        </h2>
    </div>

    <div class="container">
        <p
            class="mt-4 mx-5 leading-loose font-normal text-lg text-left text-base text-black"
        >
            Hi, I am Sal! I decided to do this blog to record my experiences in
            the loop as an office worker. Working in the restaurant industry for
            over 15 years I was ready for a change. In 2022 I started to work
            towards that change. The online program 100devs prepared me
            immensely and in 2023 I was fortunate enough to be accepted into the
            DPI Tech Apprenticeship program. It is a 3 month long paid program
            where I am taught various languages that employers are utilizing.
            After the 3 months I am placed with a tech company as an apprentice
            to learn and work hands on for 9 months. Hopefully at that point I
            am retained as a regular employee. Although I am confident in my
            abilities, I do not want to take this opportunity for granted. So, I
            am here to try any foodhall, lunch spot, coffee shop, juice bar, and
            happy hour bar in and around the loop area. Hopefully this will not
            just be a 3 month long experience. Come along as I show you the best
            of what the loop has to offer its workers!
        </p>
    </div>
</BaseLayout>
