---
---

<style>
    div {
        display: flex;
        justify-content: space-evenly;
    }
</style>

<div>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>
